* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

body {
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.6;
}

.button {
	background: coral;
	padding: 1em 2em;
	color: #fff;
	border: 0;
}

.button:hover {
	background: #333;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	background-color: #f4f4f4;
	margin: 20% auto;
	padding: 20px;
	width: 70%;
	-webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),  0 7px 20px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),  0 7px 20px 0 rgba(0, 0, 0, 0.17);
	animation-name: modalopen;
	animation-duration: 1s;
}

.closeBtn {
	color: #ccc;
	float: right;
	font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}


@keyframes modalopen {
	from { opacity: 0}
	to { opacity: 1}
}
