* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

body {
	margin: 0 auto;
}

.container {
	width: 1320px;
	margin:0 auto;
}

.slider {
	height: 500px;
	position: absolute;
	overflow: hidden;
}

.slider .slider-img {

}
