@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
* {
	margin: 0;
	padding: 0;
}

.popup {
	padding: 20px;
}

.config {
	text-decoration: none;
	background-color: greeen;
	padding: 10px 20px;
	border-radius: 5px;
}

.container {
	width: 100%;
	height: 100vh;
	background-size: cover;
	text-align: center;
	color: #161838;
	font-family: 'Roboto Mono', monospace;
}

.form {
	width: 30%;
	margin: 0 auto;
	padding: 10% 0 0 0;
}

label {
	font-size: 30px;
}

input.quote-option {
    height: 30px;
    width: 30px;
    left: 19px;
}
