@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
* {
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	height: 100vh;
	background-size: cover;
	text-align: center;
	color: #161838;
	font-family: 'Roboto Mono', monospace;
}

.heading {
    text-align: center;
    padding-top: 100px;
    font-size: 105px;
}

.date {
	font-size: 40px;
}

.time {
	font-size: 60px;
}

#quote {
	width: 50%;
	padding: 10px;
	color: #000;
	position: fixed;
	bottom: 20px;
	right: 20px;
	float: right;
	background-color: #f5f5f5;
	opacity: 0.5;
	border-radius: 10px;
}

.quotes {
	font-size: 30px;
}

.author {
	font-size: 22px;
	float: right;
	font-style: italic;
	color: #000;
	font-weight: 500;
}

.author::before {
	content: " ~ ";
}
