* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	margin: 0 auto;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.navigator {
	position: fixed;
	height: 120px;
	background: #eee;
	width: 100%;
}

.navigator .logo img {
	height: 120px;
	width: auto;
	margin: 0 20px;
	float: left;
}

.navigator ul {
	height: 50px
}

.navigator ul li {
	display: inline-block;
	margin: 10px 20px;
	border: 1px solid #f5f5f5;
	padding: 20px;
}

.navigator ul li a {
	padding: 20px 50px;
}

.nav-place {
	height: 120px;
}

.container {
	max-width: 80%;
	margin: 0 auto;
	background: #f9f9f9;
	font-size: 24px;
	padding: 25px;
}

.parallax {
	background: url('../img/img1.jpg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	height: 500px;
}

.parallax.one {
	background: url('../img/img2.jpeg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	height: 500px;
}

.parallax.two {
	background: url('../img/img3.jpeg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	height: 500px;
}

.parallax.three {
	background: url('../img/light.jpeg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	height: 800px;
}

p {
	height: 400px;
	line-height: 1.6;
	text-align: center;
	margin-top: 50px;
}
